PORT=
NODE_ENV=

DB_CLIENT=
DB_MIN_POOL=
DB_MAX_POOL=
DB_HOST=
DB_PORT=
DB_USER=    
DB_PASSWORD=
DB_DATABASE=

JWT_SECRET=
JWT_EXPIRES_IN=
SALT_RESULT=

MAIL_HOST=
MAIL_PORT=
MAIL_SECURITY=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
FRONTEND_URL=